* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    color: #eeee;
    scroll-behavior: smooth;
}

body {
    background: url(../imgs/pictures/cover.webp);
    background-color: rgba(0, 0, 0, 0.65);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100%;
    background-attachment: fixed;
    background-blend-mode: multiply;
}

.box {
  background: linear-gradient(to right, #005a00cc 0%, #002200cc 100%);
  border-radius: 10px;
  border: 3px solid  black;
}

/* Navbar */

nav {
    background: linear-gradient(to right, #006e00e6 0%, #003600e6 100%);
    height: 70px;
    width: 100%;
    position: fixed;
    z-index: 2;
}

nav ul {
    display: inline;
}

nav ul li {
    display: inline;
    line-height: 70px;
    margin:0 5px;
}


nav ul li a {
    color: #aaaaaa;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transform: uppercase;
    padding: 13px;
    border-radius: 5px;
    text-transform: uppercase;
}

.icon {
    margin-right: 5px;
    width: 24px;
}


nav ul li a.active,
nav ul li a:hover {
    background-color: #003200cc;
    transition: .5s;
    text-decoration: none;
    color: #eeeeee;
}

.checkbtn {
    font-size: 25px;
    float: left;
    margin-top: 3px;
    margin-left: 10px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

.nav-right, .nav-right img {
    float: right;
    margin-top: 5px;
    display: inline;
}

.nav-right:hover {
    background-color: #002100cc;
}

section {
    padding-top: 100px;
}


/* Home page */

#home {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 170px;
    padding-bottom: 100px;
    margin: auto;
}

.face {
    width: 100%;
    max-width: 320px;
    height: auto;
    border-radius: 50%;
    padding: 7px;
    background-image: linear-gradient(to right, #005a00cc, #002200cc);
    margin-right: 70px;
}

.presentation {
    width: 500px;
    min-height: 250px;
    padding: 20px;
    font-weight: bold;
}

.myname {
    margin-bottom: 10px;
    font-size: 22px;
}

.description {
    font-size: 18px;
}


/* Skills page */

.title.box {
    width: 220px;
    height: 90px;
    text-align: center;
    margin: auto;
    position: relative;
    visibility: hidden;
}

h1 {
    position: absolute;
    font-weight: bold;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.swiper-wrapper {
    height: auto;
}

.swiper {
    width: 80%;
    margin-top: 20px;
}

.swiper-slide {
    height: auto;
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.card img {
    width: 55%;
    height: 35%;
    margin-bottom: 20px; 
}  


/* Size progress bar */

.progress {
    background: none;
    margin: 30px;
    box-shadow: none;
    width: 110px;
    height: 110px;
    line-height: 110px;
    position: relative;
}

.progress:after {
    content: "";
    border-radius: 50%;
    border: 15px solid #dddddd;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.progress > span {
    position: absolute;
    top: 0;
    z-index: 1;
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.progress .progress-left {
    left: 0;
}

.progress .progress-bar {
    border-width: 15px;
    border-style: solid;
    position: absolute;
    width: 100%;
    height: 100%;
    background: none;
    top: 0;
}

.progress .progress-left .progress-bar {
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    -moz-transform-origin: center left;
    transform-origin: center left;
}

.progress .progress-right {
    right: 0;
}

.progress .progress-right .progress-bar {
    left: -100%;
    -webkit-transform-origin: center right;
    -moz-transform-origin: center right;
    transform-origin: center right;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
}

.progress .progress-value {
    font-size: 24px;
    color: #bbbbbb;
    text-align: center;
    width: 100%;
    height: 100%;
    position: absolute;
}

/* color progress bar */

.progress.color-html .progress-bar {
    border-color: #e34c26;
}

.progress.color-css .progress-bar {
    border-color: #264de4;
}

.progress.color-js .progress-bar {
    border-color: #f0da4f;
}

.progress.color-php .progress-bar {
    border-color: #787CB5;
}

.progress.color-mysql .progress-bar {
    border-color: #00758F;
}

.progress.color-wordpress .progress-bar {
    border-color: #00749C;
}

.progress.color-nodejs .progress-bar {
    border-color: #8cc84b;
}

.progress.color-java .progress-bar {
    border-color: #ea2d2e;
}


/* Page interests */

picture {
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: center;
    flex-wrap: wrap;
}

picture figure {
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
    overflow: hidden;
}

.border-img {
    border: 5px solid;
    border-image: linear-gradient(to right, #005a00ee 0%, #002200ee 100%);
    border-image-slice: 1;
}

.img-interests img {
    width: 100%;
    max-width: 350px;
    height: auto;
    margin-top: 25px;
    transition: 1.5s;
    visibility: hidden;   
}

.img-interests:hover {
    transform: scale(1.1); 
 }

figcaption {
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    background: linear-gradient(to right, #005a00ee 0%, #002200ee 100%);
    height: 20%;
    width: 100%;
    padding-top: 17px;
    transform: translateY(100%);
    transition: transform 1s;
    position: absolute;
    bottom: 0%;
}

figure:hover figcaption {
    transform: translateY(0%);
}


/* projects Page */


.img-project {
    width: 90%;
    text-align: center;
    overflow: hidden;
    margin: auto;
    position: relative;
} 

.img-project img {
    filter: brightness(40%);
    width: 100%;
    max-width: 730px;
    height: 400px;
    display: block;  
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    visibility: hidden;
} 

.project-text{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    font-size: 2.4rem;
    line-height: 40px;
    font-weight: bold;
    padding: 20px;
    display: block;
    visibility: hidden;
} 


/* Contact page */

.card-form {
    margin: auto;
    width: 35%;
    height: 555px;
    perspective: 1000px;
    -moz-perspective: 10000px;
}
  
.card-inner {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    position: relative;
}
  
.card-inner.is-flipped {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
}
  
.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden; 
} 

.card-face img {
    cursor: pointer;
}
  
.card-face-front {
    text-align: center;
    padding: 30px;
    transform: rotateX(0deg)
}

.card-face-front h2 {
    margin-top: 30px;
    font-weight: bold;
    transform: rotateX(0deg)
}

.card-face-front img {
    margin-top: 40px;
}

.card-face-back { 
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);  
    transform: rotateY(180deg);
    min-height: 100%;
    height: auto;
    margin-bottom: auto;
}

.form-img2 {
    margin: 20px auto;
    display: block;
}

.form-group {
    width: 90%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
}


textarea,
input  {
    width: 100%;
    padding: 5px;
    font-size: 18px;
    background: linear-gradient(to right, #002600cc 0%, #001100cc 100%);
    border-radius: 10px;
    margin-top: 5px;
    border-color: #111111cc;
}

input:focus,
textarea:focus { 
    outline: none !important;
    border-color: #009e00;
 }

textarea {
    resize: vertical;
    height: 100px;
}

button[type="submit"] {
    width: 50%;
    border: none;
    outline: none;
    padding: 5px;
    font-size: 24px;
    color: rgb(240, 240, 240);
    background-color: rgb(0, 20, 0);
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    margin: 0 25%;
} 

.swal-icon--success__line,
button[type="submit"]:hover {
    background-color: #007c00;
}


/* SweeteAlert */

.swal-icon--success__ring {
    border-color: #007c00;
}

.swal-icon--success::after, 
.swal-icon--success::before,
.swal-icon--success__hide-corners {
    opacity: 0;
}

.swal-icon--error__line {
     background-color: red;
}

.swal-icon--error {
    border-color: red;
}

.swal-modal {
    background-color: #020d1a; 
    border: 5px solid black;
}

.swal-title, .swal-text {
    color: white;
}

.swal-button {
    padding: 7px 19px;
    border-radius: 2px;
    background-color: blue;
    border: 1px solid black;
}  

.sweet-alert button:hover { 
    background:'#2b5c79'; 
    -webkit-transition: all 0.3s ease-in-out; 
    transition: all 0.3s ease-in-out; 
  }


/* footer   */

footer {
    width: 100%;
    height: auto;
    background-color: black;
    margin-top: 50px;
    padding: 20px;
} 

footer div {
    text-align: center;
    margin-bottom: 30px;
}

footer div a {
    margin-left: 10px;
    margin-right: 10px;
}

footer ul {
    text-align: center;
}

footer ul li {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}

footer ul li a {
    text-decoration: none;
    font-size: 24px;
    color: white;
}

footer ul li a:hover {
    text-decoration: none;
    color: #059a00cc
}